[defaults]
inventory = ./inventory
retry_files_enabled = false

remote_user = maintuser

[inventory]
enable_plugins = auto, yaml

[privilege_escalation]
become = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -q n62bast"
control_path = ~/.ssh/ansible-%%r@%%h:%%p

